GITHUB_CLIENT_ID=Ov23li8PE8zg9hobXUtT
GITHUB_CLIENT_SECRET=your_client_secret
GITHUB_OAUTH_REDIRECT_URI=https://esphome.idreamshen.com/auth/callback
SESSION_SECRET=generate_a_long_random_value
GITHUB_REPO_OWNER=idreamshen
GITHUB_REPO_NAME=esphome-online-compiler
GITHUB_WORKFLOW_ID=esphome-compile.yml
GITHUB_WORKFLOW_REF=main
FRONTEND_URL=https://esphome.idreamshen.com
ALLOWED_ORIGINS=https://esphome.idreamshen.com
GITHUB_REQUIRE_PRIVATE_REPO=false
GITHUB_SERVICE_TOKEN=your_service_pat
